<!DOCTYPE html>
<html>
    <head>
        <title>Discord 2</title>
        <script>
            function startup() {
                if (document.cookie == "null") {
                    document.cookie = "";
                }

                // Prompt for username on login
                while (document.cookie == "") {
                    document.cookie = prompt("Please enter a username");
                }

                if (document.cookie == "null") {
                    window.location.href = "/punishment"
                }

                document.getElementById("welcome").innerHTML = "Welcome " + document.cookie;
            }

            function logout() {
                document.cookie = ""
                startup();
            }
        </script>
        <meta http-equiv="refresh" content="10" >
    </head>
    <body onload="startup()">
        <h1>Discord 2</h1>

        <div id="welcome">Original Text</div>

        <a onclick="logout()">Log out</a>

        <h2>Make a new chat room!</h2>

        <form action="/create_room" method="post">
          <label for="name">Room name:</label>
          <input type="text" id="name" name="name"><br>
          <input type="submit" value="submit">
        </form>

        <h2>Chat rooms!</h2>

        {% for link in links %}
        <li><a href="{{ link.url }}">{{ link.name }}</a></li>
        {% endfor %}
    </body>
</html> 
