<!DOCTYPE html>
<html>
    <head>
        <title>{{room_name}} / Discord 2</title>
        <script>
            function startup() {
                // If the user hasn't logged in, kick them out!
                if (document.cookie == "") {
                    document.location.href = "/";
                }

                // Set hidden username property of the form
                document.getElementById("username_hidden").value = document.cookie;

                // Message receiving stuff
                const ws = new WebSocket(`ws://${location.host}/rooms/{{room_id}}/ws`);

                ws.addEventListener('message', function (event) {
                    const elem = document.createElement("div");
                    // Intentionally allow injections
                    elem.innerHTML = event.data
                    // elem.appendChild(document.createTextNode(event.data));
                    document.getElementById("messages").appendChild(elem);
                });

                // Scroll to bottom by default
                window.scrollTo(0, document.body.scrollHeight);
            }

            var needs_reset = false;

            function on_submit_message(event) {
                window.scrollTo(0, document.body.scrollHeight);
                setTimeout(resetDelay, 10);
                needs_reset = true;
            }

            function resetDelay() {
                if (needs_reset) {
                    var form = document.getElementById("sender_form");
                    form.submit();
                    form.reset();
                    needs_reset = false;
                }
            }
        </script>
    </head>
    <body onload="startup()">
        <h1>Discord 2</h1>
        <h2>You are in room: {{room_name}}</h2>

        <div id="messages">
            {% for msg in recent_messages %}
            <div>{{ msg.user }}: {{ msg.message|safe }}</div>
            {% endfor %}
        </div>

        <form action="/rooms/{{room_id}}/send" method="post" id="sender_form" target="dummyframe" onsubmit="on_submit_message()">
            <label for="message">Message:</label>
            <input type="text" id="message" name="message">
            <input type="submit" value="submit">
            <input type="hidden" name="username" id="username_hidden">
        </form>

        <br>
        <a href="/">Go back to main page</a>

        <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
    </body>
</html>
